/*
 * Estilos de tu proyecto
 */
 *{
     box-sizing: border-box;
     margin: 0;
     padding: 0;

 }
 #dashboard{
     outline: 1px solid red; 
     width: 300px;
     height: 950px;
     display: inline-block;
     background-color: rgb(255,193,7);
     position: fixed;
 }
 #photo{
     outline: 2px cyan solid;
     border-radius: 100%;
     display: inline-block;
     height: 80px;
     width: 80px;
     left: 10px;
     top: 50px;
     background-color: gainsboro;
     position: relative;

 }

 #welcome{
     outline: 1px green solid;
     display: inline-block;
     width: 200px;
     height: 100px;
     left: 14px;
     bottom: 20px;
     background-color: rgb(255,193,7);
     position: relative;
     text-align: center;
 }
 #years{
    outline: 2px solid violet;
    display: inline-block;
    width: 280px;
    height: 100px;
    background-color: rgb(255,193,7);

 }
 #stadistics{
     outline: 1px solid blue;
     display: inline-block;
     width: 280px;
     height: 100px;
     background-color: rgb(255,193,7);
 }
 /*#students{
     outline: 1px solid salmon;
     display: inline-block;
     width: 250px;
     height: 100px;
}
#teachers{
    outline: 1px solid goldenrod;
    display: inline-block;
    width: 250px;
    height: 100px;
}*/